<?xml version='1.0' encoding='utf-8'?>
<widget id="jp.co.sony.fescloset" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FESCloset</name>
    <description>
        Community iOS rebuild of the Sony FES Closet companion app.
    </description>
    <author href="https://github.com/t3mr0i/fes-closet-community">
        FES Closet Community
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="ios">
        <preference name="scheme" value="app" />
        <preference name="hostname" value="localhost" />
        <access origin="*" />
    </platform>
</widget>
