<?xml version='1.0' encoding='utf-8'?>
<widget id="jp.co.sony.fescloset" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FESCloset</name>
    <description>
        Community iOS rebuild of the Sony FES Closet companion app.
    </description>
    <author href="https://github.com/t3mr0i/fes-closet-community">
        FES Closet Community
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="ios">
        <preference name="scheme" value="app" />
        <preference name="hostname" value="localhost" />
        <access origin="*" />
        <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="overwrite">
            <string>FES Closet imports photos to use as backgrounds for your custom watchfaces.</string>
        </edit-config>
        <edit-config target="NSPhotoLibraryAddUsageDescription" file="*-Info.plist" mode="overwrite">
            <string>FES Closet saves generated and shared watchface designs to your photo library.</string>
        </edit-config>
        <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="overwrite">
            <string>FES Closet uses the camera so you can capture a photo and turn it into a watchface design.</string>
        </edit-config>
        <edit-config target="NSBluetoothAlwaysUsageDescription" file="*-Info.plist" mode="overwrite">
            <string>FES Closet uses Bluetooth to connect to your FES U Watch and install watchfaces.</string>
        </edit-config>
        <edit-config target="NSBluetoothPeripheralUsageDescription" file="*-Info.plist" mode="overwrite">
            <string>FES Closet uses Bluetooth to connect to your FES U Watch and install watchfaces.</string>
        </edit-config>
    </platform>
</widget>
