<article><script type="text/template" id="installed-skin-listitem"><div class="skin-listitem {{status}} fes-material-ripple" skin-id="{{id}}">
            <div class="check-mark"></div>
            <div class="watch-info">
                <div class="thumbnail-base">
                    <figure class="thumbnail">&nbsp;</figure>
                    <figure class="default fade-in">&nbsp;</figure>
                </div>
                <div class="detail">
                    <div class="activity-indicator"></div>
                    <p class="title">{{name}}</p>
                    <p class="creator">{{creatorName}}</p>
                </div>
            </div>
        </div></script></article>