<article><script type="text/template" id="template-common-spinner-base"><span class="fes-spinner">
            <span class="fes-spinner-inner">
                <span class="fes-spinner-inner-gap"></span>
                <span class="fes-spinner-inner-left">
                    <span class="fes-spinner-inner-half-circle"></span>
                </span>
                <span class="fes-spinner-inner-right">
                    <span class="fes-spinner-inner-half-circle"></span>
                </span>
            </span>
        </span></script></article>