/*!
 * Splash Screen
 */#splash{position:absolute;left:0;top:0;right:0;bottom:0;background-color:#fff;background-image:url(../../res/images/nodpi/splash_screen.png);background-size:contain;background-repeat:no-repeat;background-position:center}